! sys bell
! *visualBell:BOOLEAN

! font and input
xterm.utf8: true
xterm*utf8Title:true
xterm*faceName:Consolas!:antialias=True:pixelsize=14
xterm*faceNameDoublesize:Source Han Sans SC!:antialias=True:pixelsize=14
xterm*locale:zh_CN.UTF-8
xterm*inputMethod:ibus

xterm*faceSize: 12
xterm*renderFont: true

xterm*vt100.font: 12

! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 10
! VT font menu: Medium
xterm*faceSize3: 12
! VT font menu: Large
xterm*faceSize4: 14
! VT font menu: Huge
xterm*faceSize5: 18

! xterm*vt100.font1: 8
! xterm*vt100.font2: 10
! xterm*vt100.font3: 12
! xterm*vt100.font4: 14
! xterm*vt100.font5: 18
! xterm*vt100.font6: 24
! xterm*vt100.font7: 32

XTerm*borderWidth: 0

xterm*vt100.allowWindowOps: true
xterm*vt100.allowTitleOps: true
xterm*vt100.allowFontOps: true

! login shell
xterm*loginshell: true

! save line
xterm*saveLines: 4096

! alt mate key
xterm*metaSendsEscape: true
! xterm*VT100.metaSendsEscape: true
xterm*eightBitInput: false
! backspace and emacs ^H conflict，switch ^?
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

! clipboard
xterm*selectToClipboard: true
xterm*VT100*selectToClipboard: true

! keybinding
xterm*vt100.translations: #override \n\
						  Super <Key> S: maximize() \n\
						  Super <Key> R: restore() \n\
						  Alt <Key> W: copy-selection(CLIPBOARD, PRIMARY, CUT_BUFFER0， CUT_BUFFER1) \n\
						  Ctrl <Key> Y: insert-selection(CLIPBOARD, PRIMARY, CUT_BUFFER0， CUT_BUFFER1) \n\
						  Ctrl <Key> V: scroll-forw(1,halfpage,m) \n\
						  Alt <Key> V: scroll-back(1,halfpage,m) \n\
						  Alt <Key> \>: scroll-to(end) \n\
						  Alt <Key> \<: scroll-to(begin) \n\
  						  Ctrl <Key> +: larger-vt-font() \n\
						  Ctrl <Key> -: smaller-vt-font() \n\
						  Ctrl <Key> =: set-vt-font(d) \n\
  						  Alt <Key> +: larger-vt-font() \n\
						  Alt <Key> -: smaller-vt-font() \n\
						  Alt <Key> =: set-vt-font(d) \n\
						  Alt <Key> Return:fullscreen() \n\
						  !Ctrl <Btn1Down>:popup-menu(mainMenu) \n\
						  !Ctrl <Btn2Down>:popup-menu(vtMenu) \n\
						  !Ctrl <Btn3Down>:popup-menu(fontMenu) \n\

! fullscreen
xterm*fullscreen: never
xterm.omitTranslation: fullscreen

! fg and bg color
xterm*background:black
xterm*foreground:gray
! all Xlib color
! *background:black
! *foreground:green
! dynamic color
xterm*dynamicColors:true
! under line color
XTerm*VT100*colorULMode: on
XTerm*VT100*underLine: on
XTerm*VT100*colorUL: red

! mouse cursor color
xterm*cursorColor:yellow
! mouse style, XTerm left_ptr bogosity
xterm*pointerShape:XTerm

! row spacing
xterm*scaleHeight: 1.01

! init window size
xterm.geometry: 80x50

! scroll bar
xterm*rightScrollBar: false
xterm*ScrollBar: false
! stop output does not jump to bottom
xterm*scrollTtyOutput: false

! only select text
xterm*highlightSelection: true
! remove trailing spaces
xterm*trimSelection: true

! double click select URL
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
